<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        Welcome to SON Rails
        <%= image_tag 'http://rubyonrails.org/images/rails-logo.svg', class: 'my-img' %>
<!--         <%= video_tag %>
        <%= audio_tag %>
 -->    </header>

    <%= t('hello') %>

    <main class="container">
        <%= yield %>
    </main>

    <footer>
        <p>&copy; Copyright School of net</p>
    </footer>
</body>
</html>
